@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

$colors: (
    primary-colors:#FFC200
);

@function item ($color-name) {
    @return map-get($colors, $color-name)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(253, 255, 248);
}

.container {
    margin: 17% 8%;
    background: linear-gradient(45deg, #201e10, black );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 7rem;
    border-radius: 2rem;

    h1 {
        font-family: poppins;
        background-color: none;
        color: white;
    }

    form {

        input[type=email] {
            font-family: poppins;
            color: white;
            background: linear-gradient(45deg, #11100b, #000000 ); 
            // border: 1px solid #ff9900;
            border: 1px solid white;
            border-radius: 0.15rem;
        }

        input[type=email]:focus {
            border-color: #ff9900;
        }


        button {
            background-color: #FFC200;
            border: none;
            font-family: poppins;
            font-weight: bold;
            outline: none;
        }

        button:hover {
            color: white;
            font-weight: 300;
        }
    }
}